html, body {
  height: 100%;
  background-color: #E6E6FA; /* Lila claro */
}
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
}
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Si el navbar es fixed-top, aseguramos que no agregue espacio */
.navbar {
  margin-bottom: 0 !important;
  z-index: 1030; /* Mantiene el navbar encima del carousel */
}

/* Altura base del carousel (móvil) */
#maggieCarousel {
  height: 230px; /* Altura pequeña para móvil */
}

/* Altura para pantallas grandes */
@media (min-width: 768px) {
  #maggieCarousel {
    height: 60vh; /* 60% del alto de la ventana en pantallas grandes */
  }
}

#maggieCarousel img {
  height: 100%;
  object-fit: cover; /* Mantiene la imagen centrada y recortada si sobra */
}
